.div {
  display: block;
  position: relative;
  top: -2px;
  height: 50px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1903 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(0, 0, 0, 1)" d="M 0 19 C 258.5 19 258.5 119 517 119 L 517 119 L 517 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(0, 0, 0, 1)" d="M 516 119 C 735.5 119 735.5 45 955 45 L 955 45 L 955 0 L 516 0 Z" stroke-width="0"></path> <path fill="rgba(47, 73, 94, 1)" d="M 954 45 C 1150.5 45 1150.5 423 1347 423 L 1347 423 L 1347 0 L 954 0 Z" stroke-width="0"></path><path fill="rgba(47, 73, 94, 1)" d="M 1346 423 C 1624.5 423 1624.5 43 1903 43 L 1903 43 L 1903 0 L 1346 0 Z" stroke-width="0"></path></svg>');
  background-size: cover;
  background-repeat: no-repeat;
 }
 
 @media (max-width:1886px) {
  .div {
    background-size: contain;
  }
 }