.particles::before {
  content: "";
  background-image: url('../../assets/particles.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  position: absolute;
  opacity: .25;
  inset: 0;
  z-index: 0;
}

#middle-orbit {
  position: absolute;
  top: -22.7rem;
  left: -19.8rem;
  width: 40rem;
  height: 40rem;
  border: 2px #cccccc8d dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
}

.middle-orbit-cirlces {
  animation: rotation 15s linear infinite;
}

.middle-orbit-cirlces:nth-child(1) {
  top: 15.1rem;
  left: -4.6rem;
}

.middle-orbit-cirlces:nth-child(2) {
  top: 28.8rem;
  left: 1.1rem;
}

.middle-orbit-cirlces:nth-child(3) {
  top: 34.8rem;
  left: 15.3rem;
}

.middle-orbit-cirlces:nth-child(4) {
  top: 15.1rem;
  left: 34.8rem;
}

.middle-orbit-cirlces:nth-child(5) {
  top: 28.8rem;
  left: 30rem;
}

.middle-orbit-cirlces:nth-child(6) {
  top: 2.0rem;
  left: 30rem;
}

.middle-orbit-cirlces:nth-child(7) {
  top: -3.8rem;
  left: 15.3rem;
}

.middle-orbit-cirlces:nth-child(8) {
  top: 2rem;
  left: 1.1rem;
}

.centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 10px #121212);
  filter: grayscale(0.4);
}

.centered-image:hover,
.small-planet:hover {
  filter: grayscale(0);
}

.small-planet {
  filter: grayscale(0.8);
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}