.centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 10px #121212);
  filter: grayscale(0.4);
}

.skills-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.background-skill {
  backdrop-filter: blur(20px);
}

.centered-image:hover,
.planet:hover {
  filter: grayscale(0);
}

.planet-orbit {
  /* background-color: aqua; */
  position: absolute;
  width: 800px;
  height: 15%;
  top: 42%;
  left: 525px;
  animation: rotateOrbit 30s linear infinite;
  transform-origin: center center;
}


.planet {
  filter: grayscale(0.8);
  position: absolute;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: rotation 30s linear infinite;
}


.planet:nth-child(1) {
  top: 0rem;
  left: -2rem;
}

.planet:nth-child(2) {
  top: 15rem;
  left: 4.2rem;
}

.planet:nth-child(3) {
  top: 21rem;
  left: 19.2rem;
}

.planet:nth-child(4) {
  top: 14.8rem;
  left: 34.8rem;
}

.planet:nth-child(5) {
  top: 0rem;
  left: 40rem;
}

.planet:nth-child(6) {
  top: -15rem;
  left: 34.8rem;
}

.planet:nth-child(7) {
  top: -21rem;
  left: 19.2rem;
}

.planet:nth-child(8) {
  top: -15rem;
  left: 4.2rem;
}

@keyframes rotateOrbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 2500px) {
  .planet-orbit {
    width: 30%;
    height: 10%;
    top: 44.2%;
    left: 900px;
  }

  .planet {
    width: 12rem;
    height: 12rem;
  }

  .planet:nth-child(1) {
    top: 0rem;
    left: -2rem;
  }

  .planet:nth-child(2) {
    top: 15rem;
    left: 4.2rem;
  }

  .planet:nth-child(3) {
    top: 21rem;
    left: 19.2rem;
  }

  .planet:nth-child(4) {
    top: 14.8rem;
    left: 34.8rem;
  }

  .planet:nth-child(5) {
    top: 0rem;
    left: 40rem;
  }

  .planet:nth-child(6) {
    top: -15rem;
    left: 34.8rem;
  }

  .planet:nth-child(7) {
    top: -21rem;
    left: 19.2rem;
  }

  .planet:nth-child(8) {
    top: -15rem;
    left: 4.2rem;
  }

}

@media only screen and (max-width: 1500px) {
  .planet-orbit {
    width: 50%;
    height: 10%;
    top: 43.5%;
    left: 350px;
  }

  .planet {
    width: 9rem;
    height: 9rem;
  }

  .planet:nth-child(1) {
    top: -2rem;
    left: -1rem;
  }

  .planet:nth-child(2) {
    top: 12.5rem;
    left: 4.9rem;
  }

  .planet:nth-child(3) {
    top: 18rem;
    left: 18.9rem;
  }

  .planet:nth-child(4) {
    top: 12rem;
    left: 33rem;
  }

  .planet:nth-child(5) {
    top: -2rem;
    left: 38rem;
  }

  .planet:nth-child(6) {
    top: -15.2rem;
    left: 33rem;
  }

  .planet:nth-child(7) {
    top: -21rem;
    left: 18.9rem;
  }

  .planet:nth-child(8) {
    top: -15.2rem;
    left: 4.9rem;
  }

}

@media only screen and (max-width: 1050px) {
  .planet-orbit {
    width: 70%;
    height: 10%;
    top: 43.5%;
    left: 150px;
  }

  .planet {
    width: 8rem;
    height: 8rem;
  }

  .planet:nth-child(1) {
    top: -1.9em;
    left: -1.5rem;
  }

  .planet:nth-child(2) {
    top: 13.4rem;
    left: 4.7rem;
  }

  .planet:nth-child(3) {
    top: 19.2rem;
    left: 18.9rem;
  }

  .planet:nth-child(4) {
    top: 12.7rem;
    left: 33.4rem;
  }

  .planet:nth-child(5) {
    top: -1.9rem;
    left: 38.7rem;
  }

  .planet:nth-child(6) {
    top: -15.2rem;
    left: 33rem;
  }

  .planet:nth-child(7) {
    top: -21rem;
    left: 18.9rem;
  }

  .planet:nth-child(8) {
    top: -15.2rem;
    left: 4.9rem;
  }

}

@media only screen and (max-width: 800px) {
  .planet-orbit {
    width: 95%;
    height: 10%;
    top: 48%;
    left: 25px;
  }

  .planet {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 0.9rem;
  }

  .planet:nth-child(2) {
    top: 14rem;
    left: 6.5rem;
  }

  .planet:nth-child(3) {
    top: -14rem;
    left: 6.5rem;
  }

  .planet:nth-child(4) {
    top: 14rem;
    left: 33.5rem;
  }

  .planet:nth-child(5) {
    top: 0;
    left: 39.5rem;
  }

  .planet:nth-child(6) {
    top: 18rem;
    left: 18rem;
  }

  .planet:nth-child(7) {
    top: -18rem;
    left: 20rem;
  }

  .planet:nth-child(8) {
    top: -14rem;
    left: 33.5rem;
  }



}

@media only screen and (max-width: 450px) {
  #skills {
    height: 150vh;
  }

  .planet-orbit {
    width: 90%;
    height: 10%;
    top: 59.6%;
    left: 10px;
  }

  .planet {
    width: 4rem;
    height: 4rem;
    font-size: 0.8rem;
  }

  .planet:nth-child(1) {
    top: -0.6rem;
    left: -0.5rem;
  }

  .planet:nth-child(2) {
    top: 8rem;
    left: 2.2rem;
  }

  .planet:nth-child(3) {
    top: 12.5rem;
    left: 10.5rem;
  }

  .planet:nth-child(4) {
    top: 8rem;
    left: 19rem;
  }

  .planet:nth-child(5) {
    top: -0.6rem;
    left: 22rem;
  }

  .planet:nth-child(6) {
    top: -9rem;
    left: 19rem;
  }

  .planet:nth-child(7) {
    top: -13.4rem;
    left: 10.5rem;
  }

  .planet:nth-child(8) {
    top: -9rem;
    left: 2.2rem;
  }
}

@media only screen and (max-width: 380px) {

  .planet-orbit {
    width: 95%;
    height: 10%;
    top: 44.6%;
    left: 15px;
  }

  .planet {
    width: 4rem;
    height: 4rem;
    font-size: 0.8rem;
  }

  .planet:nth-child(1) {
    top: 0.4rem;
    left: -0.9rem;
  }

  .planet:nth-child(2) {
    top: 8.7rem;
    left: 1.3rem;
  }

  .planet:nth-child(3) {
    top: 13.5rem;
    left: 9.2rem;
  }

  .planet:nth-child(4) {
    top: 8.5rem;
    left: 17.4rem;
  }

  .planet:nth-child(5) {
    top: 0.4rem;
    left: 18.1rem;
  }

  .planet:nth-child(6) {
    top: -6.5rem;
    left: 16rem;
  }

  .planet:nth-child(7) {
    top: -10.4rem;
    left: 9.2rem;
  }

  .planet:nth-child(8) {
    top: -6.9rem;
    left: 2rem;
  }
}

@media only screen and (max-width: 350px) {
  .planet-orbit {
    width: 80%;
    height: 5%;
    top: 53.4%;
    left: 22px;
  }

  .planet {
    font-size: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
  }

  .planet:nth-child(1) {
    top: -0.6rem;
    left: -1.2rem;
  }

  .planet:nth-child(2) {
    top: 4.7rem;
    left: 1.2rem;
  }

  .planet:nth-child(3) {
    top: 6.6rem;
    left: 6.2rem;
  }

  .planet:nth-child(4) {
    top: 4.5rem;
    left: 11.5rem;
  }

  .planet:nth-child(5) {
    top: -0.6rem;
    left: 13.6rem;
  }

  .planet:nth-child(6) {
    top: -5.7rem;
    left: 11.7rem;
  }

  .planet:nth-child(7) {
    top: -8.1rem;
    left: 6.2rem;
  }

  .planet:nth-child(8) {
    top: -6.2rem;
    left: 1.2rem;
  }
}