.scrolling-text {
  display: inline-block;
  animation: scroll 40s linear infinite;
  white-space: nowrap;
}

.scrolling-text span {
  padding-right: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(calc(50% - 60px));
  }
}