.carousel button {
  background-color: #ccc;
}

.carousel span {
  background-color: #FFF;
  border: 2px solid black;
}

.carousel span::selection {
  transform: scale(1.5);
  background-color: #121212;
  border: 5px solid blue;
  color: red;
}