.carousel button:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel button:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel span {
  background-color: #FFF;
  border: 2px solid black;
}

.carousel span:hover {
  background-color: #232323;
}

.carousel span:active {
  background-color: red;
}